<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.theme.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datepicker.min.css') }}" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
