{% extends '::base.html.twig' %}

{% block body -%}
    {% include 'navbar.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Proprietários
                <small>Listar</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="{{ path('owner') }}">Proprietários</a></li>
                <li class="active">Listar</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <a href="{{ path('owner_new') }}" class="btn btn-success btn-sm">
                                <span class="fa fa-file-o"></span> Novo
                            </a>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="dataTables_wrapper form-inline dt-bootstrap">
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-striped" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc">Id</th>
                                                    <th class="sorting">Nome Proprietário</th>
                                                    <th class="sorting">Cpf</th>
                                                    <th class="sorting">Telefone</th>
                                                    <th class="sorting">Rg</th>
                                                    <th class="sorting">Nascimento</th>
                                                    <th class="sorting">Criado em</th>
                                                    <th>Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for entity in entities %}
                                                <tr role="row">
                                                    <td>{{ entity.id }}</td>
                                                    <td>{{ entity.ownerName }}</td>
                                                    <td>{{ entity.cpf }}</td>
                                                    <td>{{ entity.phoneNumber }}</td>
                                                    <td>{{ entity.rg }}</td>
                                                    <td>{% if entity.birthDate %}{{ entity.birthDate|date('Y-m-d') }}{% endif %}</td>
                                                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a data-toggle="tooltip" data-placement="top" title="Visualizar" href="#" data-item-id="{{ entity.id }}" data-toggle="modal" data-target="#myModal" class="btn btn-info showOwner">
                                                                <span class="fa fa-eye"></span>
                                                            </a>
                                                            <a data-toggle="tooltip" data-placement="top" title="Editar" href="#" data-item-id="{{ entity.id }}" data-toggle="modal" data-target="#myModal" class="btn btn-primary editOwner">
                                                                <span class="fa fa-edit"></span>
                                                            </a>
                                                            <a data-toggle="tooltip" data-placement="top" title="Excluir" href="{{ path('owner_delete', { 'id': entity.id }) }}" class="btn btn-danger">
                                                                <span class="fa fa-trash"></span>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nome Proprietário</th>
                                                    <th>Cpf</th>
                                                    <th>Telefone</th>
                                                    <th>Rg</th>
                                                    <th>Nascimento</th>
                                                    <th>Criado em</th>
                                                    <th>Ações</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div id="modalShowOwner" class="modal fade" tabindex="-1" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title"> Dados Proprietário</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Some text in the modal.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="modalEditOwner" class="modal fade" tabindex="-1" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title"> Dados Proprietário</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Some text in the modal.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip(); 
                $('#example1').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copiar'
                        },
                        {
                            extend:    'excelHtml5',
                            text:      '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Excel'
                        },
                        {
                            extend:    'csvHtml5',
                            text:      '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'CSV'
                        },
                        {
                            extend:    'pdfHtml5',
                            text:      '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'PDF'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'Imprimir',
                            exportOptions: {
                                modifier: {
                                    page: 'current'
                                }
                            }
                        }
                    ]
                });
                
                $('.showOwner').click(function () {
                    var id = $(this).attr('data-item-id');
                    $('#modalShowOwner').modal({show: true});

                    $.ajax({
                        cache: false,
                        type: "POST",
                        dataType: "html",
                        url: Routing.generate('owner_show') + '/' + id,
                        success: function (data) {
                            $('#modalShowOwner .modal-body').html(data);
                        }
                    });
                });
                
                $('.editOwner').click(function () {
                    var id = $(this).attr('data-item-id');
                    console.debug('teste id = '+id);
                    $('#modalEditOwner').modal({show: true});

                    $.ajax({
                        cache: false,
                        type: "POST",
                        dataType: "html",
                        url: Routing.generate('owner_edit', { id: id }),
                        success: function (data) {
                            $('#modalEditOwner .modal-body').html(data);
                        }
                    });
                });
            });
        </script>
    {% endblock %}
