{% block body -%}
    <section class="invoice">
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <strong>Dados Pessoais</strong>
                <address>
                    <strong>Nome:</strong> {{ entities.ownerName }}<br>
                    <strong>Telefone:</strong> {{ entities.phoneNumber }}<br>
                    <strong>E-mail:</strong> info@almasaeedstudio.com<br>
                    <strong>Nascimento:</strong> {{ entities.birthDate|date('Y-m-d') }}<br>
                    <strong>CPF:</strong> {{ entities.cpf }}<br>
                    <strong>RG:</strong> {{ entities.rg }}
                </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <strong>Endereço</strong>
                <address>
                    <strong>Logradouro:</strong> {{ entities.address }}<br>
                    <strong>Bairro:</strong> {{ entities.neighborhood }}<br>
                    <strong>Cidade:</strong><br>
                    <strong>Estado:</strong>
                </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Outras Informações</b><br>
                <br>
                <b>Quantidade de imóveis:</b> 3<br>
                <b>Criado em:</b> {{ entities.createdAt|date('Y-m-d H:i:s') }}<br>
                <b>Atualizado em:</b> {{ entities.updatedAt|date('Y-m-d H:i:s') }}
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo</th>
                            <th>Dormitórios</th>
                            <th>Endereço</th>
                            <th>Valor Aluguel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Casa</td>
                            <td>4</td>
                            <td>El snort testosterone trophy driving gloves handsome</td>
                            <td>R$64.50</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Casa</td>
                            <td>2</td>
                            <td>El snort testosterone trophy driving gloves handsome</td>
                            <td>R$64.50</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Apartamento</td>
                            <td>2</td>
                            <td>Wes Anderson umami biodiesel</td>
                            <td>R$50.00</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <button style="margin-right: 5px;" class="btn btn-default"><i class="fa fa-file-pdf-o"></i> Gerar PDF</button>
                <a id="print" class="btn btn-default" target="_blank" href="#"><i class="fa fa-print"></i> Imprimir</a>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        
    </script>
{% endblock %}
